* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    list-style: none;
    text-decoration: none;
}
/*https://colorhunt.co/palette/e1f0dad4e7c5bfd8af99bc85*/

:root{
    --text-color:#fff;
    --main-color: #99BC85;
}

body {
    background-color: darkgrey;
    margin: auto;
    width: 1000px;
}
header{
    top: 0;
    right: 0;
    width: 1000px;
    text-align: center;
    justify-content: space-between;
    padding: 32px 15%;
    background: transparent;
}

.logo{
    color: var(--text-color);
    font-size: 41px;
    font-weight: 600;
    text-shadow: 3px 3px 6px #516347;
}

.logo span{
    color: var(--main-color);
    font-size: larger;

}

nav{
    display: block;
    justify-content: space-between;

}

.navbar{
    background-color: #99BC85;
}

.navbar li{
    display: inline;
    text-align: center;
    padding: 1px 20px;
    text-decoration: none;
    transition-duration: 100ms;
}

.navbar li:hover{
    background-color: #516347;
    color: #fff;
}

#pfp{
    border-radius: 100px;
    border: solid 5px #4b8827;
    box-shadow: 0px 0px 50px 5px #99BC85;
}


textarea{
    resize: none;
}

.projetinhos{
    border: 20px transparent;
    border-collapse: collapse;
    
    
}

td{
    text-align: center;
    
}

table{
    width: 1000px;
}