@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quantico", sans-serif;
    font-weight: 500;
    font-style: normal;
    list-style: none;
    text-decoration: none;
    text-align: center ;
}

/*https://colorhunt.co/palette/e1f0dad4e7c5bfd8af99bc85*/
/*https://colorhunt.co/palette/0926351b42425c83749ec8b9*/


body {
    background-color: darkgrey;
    margin: auto;
    width: auto;
    height: max-content;
    text-align: center;
}

header {
    top: 0;
    right: 0;
    width: auto;
    justify-content: space-between;
    padding: 32px 15%;
    background: transparent;
}

nav {
    float: right;


}

.barrinhas {
    width: 35px;
}

.bar {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

#projetos{
    text-align: center;
}


#pfpbrd {
    margin-left: 100px;
    width: 667px;
    height: 865px;
    float: left;
}

aside{
    width: 557px;
    height: 865px;
    float: right;
}
#p1
{
    width: auto;
    height: 668px;
    text-align: center;
}